.dhl-tabs {
    border-bottom: 1px solid #00529b;
    list-style-type: none;
    margin-top: 20px;
}

ul.dhl-tabs li {
    float: left;
    margin-right: 1px;
    margin-bottom: -1px;
}
.dhl-tabs a {
    background: #585a69 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 10px 10px 7px;
    text-decoration: none;
}
.dhl-tabs .selected {
    background: rgba(0, 0, 0, 0) repeat-x scroll 0 0;
    color: #000;
    border-left: 1px solid #00529b;
    border-top: 1px solid #00529b;
    border-right: 1px solid #00529b;
    border-bottom: 1px solid #ffffff;
}

.form-group.dhlp_new_release>label::before {
    font-family: "Material Icons",Arial,sans-serif;
    font-size: 19px;
    color: #25b9d7;
    content: "\e031";
    transition: .25s ease-out;
}

.dhl-tabs-div {
    margin-top: 20px;
}

.block_hidden_only_for_screen {
    display: none;
}

.dhl_authdata_live {display: none;}
.dhl_authdata_sbx {display: none;}

.menu-dhlintraship .navbar-nav.menu  li {text-transform: uppercase; font-weight: bold;}
.bootstrap .menu-dhlintraship {background-color: #ffffff!important;}
.bootstrap .menu-dhldp {
    background-color: white;
}
.menu-dhldp {
    background-color: white;
}
#defaultLength {
    padding: 8px 8px;
}
#dhldp-settings-tabs .ui-tabs-nav li,
#dhldp-settings-tabs-dp .ui-tabs-nav li {
    background-color: white;
}
#content.bootstrap #dhldp-settings-tabs a[href]:not(.breadcrumb a, .dropdown-menu a, table a, [class*="btn"], [class*="dropdown"], [class*="list-group-item"], [class*="kpi-container"], [class*="nav-link"]),
#content.bootstrap #dhldp-settings-tabs-dp a[href]:not(.breadcrumb a, .dropdown-menu a, table a, [class*="btn"], [class*="dropdown"], [class*="list-group-item"], [class*="kpi-container"], [class*="nav-link"]) {
    text-decoration: none;
}
#dhldp-settings-tabs .ui-corner-all,
#dhldp-settings-tabs-dp .ui-corner-all,
#dhldp-settings-tabs .ui-corner-bottom,
#dhldp-settings-tabs-dp .ui-corner-bottom,
#dhldp-settings-tabs .ui-corner-right,
#dhldp-settings-tabs-dp .ui-corner-right,
#dhldp-settings-tabs .ui-corner-br,
#dhldp-settings-tabs-dp .ui-corner-br {
    border-bottom-right-radius: 0;
}
#dhldp-settings-tabs .ui-corner-all,
#dhldp-settings-tabs-dp .ui-corner-all,
#dhldp-settings-tabs .ui-corner-bottom,
#dhldp-settings-tabs-dp .ui-corner-bottom,
#dhldp-settings-tabs .ui-corner-left,
#dhldp-settings-tabs-dp .ui-corner-left,
#dhldp-settings-tabs .ui-corner-bl,
#dhldp-settings-tabs-dp .ui-corner-bl {
    border-bottom-left-radius: 0;
}
#dhldp-settings-tabs .ui-corner-all,
#dhldp-settings-tabs-dp .ui-corner-all,
#dhldp-settings-tabs .ui-corner-top,
#dhldp-settings-tabs-dp .ui-corner-top,
#dhldp-settings-tabs .ui-corner-right,
#dhldp-settings-tabs-dp .ui-corner-right,
#dhldp-settings-tabs .ui-corner-tr,
#dhldp-settings-tabs-dp .ui-corner-tr {
    border-top-right-radius: 0;
}
#dhldp-settings-tabs .ui-corner-all,
#dhldp-settings-tabs-dp .ui-corner-all,
#dhldp-settings-tabs .ui-corner-top,
#dhldp-settings-tabs-dp .ui-corner-top,
#dhldp-settings-tabs .ui-corner-left,
#dhldp-settings-tabs-dp .ui-corner-left,
#dhldp-settings-tabs .ui-corner-tl,
#dhldp-settings-tabs-dp .ui-corner-tl {
    border-top-left-radius: 0;
}
#dhldp-settings-tabs .ui-widget-header,
#dhldp-settings-tabs-dp .ui-widget-header {
    background: #ffffff;
    border: 0;
}
